<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Welcome to TGP user.first_name ! The full list of all the gossips is coming soon, but you can already  <a href="/gossips/new/">add a new gossip</a> !</h1>
    <% gossips.each do |gossip| %>
      <p>
        <%= gossip.author %><br/>
        <%= gossip.content %>
      </p>
    <% end %>
  </body>
</html>