<html>
  <head>
    <title>Add a gossip</title>
  </head>
  <body>
    <h1>Add a gossip !</h1>
    <p>Add your gossip via the form below</p>
    <form action='/gossips/new/' method='POST'>
      Name :  <input type='text' name='gossip_author'/><br/>
      Gossip : <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>