<html>
<body>

<h2>GOSSIP PAGE</h2>
<p>Page of the gossip n°<%= params[:id] %></p>
<p>Gossip author :  <%= gossip.author %><br/></p>
    <p>Gossip content :  <%= gossip.content %></p>
    <p><a href="/">Homepage</a></p>

</body>
</html>
